<header class="text-uppercase mb-2">
  <div class="header-img">
    <a href="#" [routerLink]="['/home']">
      <img src="assets/img/profile/perfil.jpg" class="img-fluid main-img" />
    </a>
    <hr />
  </div>

  <div class="header-title d-flex justify-content-between align-items-center">
     <h1 class="font-weight-bold mt-0">
       <a href="#" [routerLink]="['/home']" (click)="setCollapsedTrue()">
        <img src="assets/img/profile/perfil.jpg" class="main-icon" />
       </a>
       Portafolio<br />
       <small class="font-weight-bold">Cristian Cajiao Skarnic</small>
     </h1>
     <button class="btn navbar-toggle" (click)="toggleCollapse()">
       <i class="fas fa-bars fa-fw"></i>
     </button>
  </div>

  <nav class="navbar-expand-lg">
    <hr/>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="mb-0">
        <li>
          <a href="#" [routerLink]="['/home']" routerLinkActive="active" (click)="setCollapsedTrue()">
            Inicio
          </a>
        </li>
        <li>
          <a href="#" [routerLink]="['/projects']" routerLinkActive="active" (click)="setCollapsedTrue()">
            Proyectos
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
