<section class="projects">
  <div *ngIf="portfolioElements; else loading">
    <p>Selecciona un proyecto para ver más de él.</p>
    <div class="row">
      <div class="col-12 col-lg-6 mb-3 project-element" *ngFor="let element of portfolioElements">
        <a href="#" [routerLink]="['/projects/'+element.id]">
          <div [ngStyle]="{'background-image':'url('+element.imgUrl+')'}" class="background">
            <div class="text d-flex justify-content-center align-items-center">
              <span>{{element.title}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <p><i class="fas fa-spinner fa-spin fa-fw"></i> Cargando...</p>
  </ng-template>
</section>
