@import '../../../../assets/sass/scss/variables';

main {
  background-color: lighten($base-color, 40%);
  box-shadow: 0px 0px 10px darken($base-color, 20%);

  @media screen and (max-width: 991px) {
    margin-top: 4rem;
  }
}
